/* Body */

*{
    padding:0;
    margin:0;
}
@font-face{
    font-family: SF Pro Display;
    src: url('../fonts/FontsFree-Net-SFProDisplay-Bold.ttf') format(truetype);
}
p{
    font-family: 'Nunito', sans-serif !important;
}
h1, h2, h3, h4, h5{
    font-family: SF Pro Display !important;
}

.banner{
    position: relative;
    width: 100%;
    height: 43vw;
    .carousel-control-prev-icon, .carousel-control-next-icon{
        width: 4rem !important;
        height: 4rem !important; 
    }
    .carousel-control-next, .carousel-control-prev{
        width: 8% !important;
    }
    img{
        height:47.1vw;
    }
}
.header{
    position: absolute;
    top:0;
    width: 100%;
    text-transform: uppercase;
    background: linear-gradient(rgba(0,0,0,0.11), rgba(0,0,0,0.13), rgba(0,0,0,0.15), rgba(0,0,0,0.17), rgba(0,0,0,0.01));
    .header-top{
        display: flex;
        padding: 5px 0px 13px;
        border-bottom: 1px solid rgba(255,255,255,0.15);
        .social-icons{
            width:50%;
            a{
                color: white;
            }
            a:hover{
                color: grey;
            }
            i{
                font-size: 18px;
                margin:0vw 1vw;
            }
        }
        .header-top-content{
            width: 50%;
            text-align: end;
            a{
                color: white;
                text-decoration: none;
                margin:0vw 0.8vw;
                font-weight: 500;
            }
        }
    }
    .navbar{
        img{
            width:110px;
            height: 110px;
            margin-right: 4vw;
        }
        .navbar-nav{
            .active{ background-color: #cd2122 !important;}
            .nav-item{
                margin: 0vw 0.3vw;
                padding: 0vw 0.4vw;
                border-radius: 2px;
                transition: all ease-in-out 0.7s;
                &:hover{ background-color: #cd2122;}
                .nav-link{
                    color: white !important;
                    font-size: 14px;
                    font-weight: 640;
                    &:before{
                        content: "";
                        position: absolute;
                        background-color: rgba(255,255,255,0.49);
                        height: 1px;
                        width:17px;
                        bottom:50px;
                    }
                }
            }
        }
    }
}


/* Centre Text */
.text{
    margin-top: 2vw;
    .text-div{
        position: relative;
        background-color: #cd2122;
        color: white;
        border-radius: 15px;
        text-align: center;
        padding: 0vw 4vw 1vw;
        text-align: left;
        &::before{
            content: "";
            position: absolute;
            background-color: #cd2122;
            transform: skewY(2deg);
            width: 100%;
            transform-origin: right bottom;
            height:35.2%;
            left:0;
            z-index: -1000;
            border-radius: 15px;
            z-index: 10000;
        }
        h4{
            text-transform: uppercase;
            color: white;
            padding-top: 3vw;
            padding-right: 2vw;
            font-weight: 300;
            font-size: 21px;
        }
        p{
            font-size: 16px;
            color: #d5d8dc;
            font-weight: 300;
            padding-top: 1vw;
            padding-right: 4vw;
        }
        a{
            position: relative;
            top:50%;
            color: white;
            border: 3px solid white;
            padding: 0.7vw 1.3vw;
            font-size: 12px;
            font-weight: 700;
            text-decoration: none;
            border-radius: 5px;
            text-transform: uppercase;
            &:nth-child(2){
                background-color: white;
                color: #2f2f30;
                margin-left: 2.5vw;
            }
        }
        #div-arrow{
            border-style: solid;
            border-width: 16px;
            display: inline-block;
            font-size: 50px;
            position: relative;
            background-color: transparent;
            border-bottom-style: solid;
            border-top-color: #cd2122;
            border-right-color: #cd2122 ;
            left: 20%;
            margin-bottom: -3.4vw;
        }
    }
} 

/* Features Section */
.about-section{
    position: relative;
    text-align: start;
    padding: 7vw 0vw 5vw 0vw;
    h1{
        color: #1e376f;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 38px;
        padding-bottom: 2vw;
    }
    .about-blocks{
        padding-top: 3vw;
        .about-blocks-image{
            display: inline-block;
            float: left;
            text-align: center;
            width:37%;
            img{
                width: 80px;
                height: 80px;
            }
        }
        .about-blocks-head{
            display: inline-block;
            width:63%;
            h4{
                font-size: 21px;
                color:#424949;
                line-height: 31px;
                font-weight: 400;
                text-transform: capitalize;
                text-align: left;
            }
            ul{
                padding: 0px;
                list-style-position: inside;
                li{
                    font-size: 14.5px;
                    line-height: 28px;
                    color: #262626;
                    font-weight: 400;
                    list-style: none;
                    background: url(../images/icons8-checked.gif) left no-repeat;
                    background-size: 8%;
                    padding-left: 1.4vw;
                }
            }
        }
    }
} 


/* Rummy Slider */
.fastest-rummy{
    position: relative;
    background-color: rgba(0,0,0,0.07);
    padding-bottom: 90px;
    h1{
        text-align: center;
        font-size: 30px;
        padding: 70px 0px 20px;
        font-weight: 700;
        text-transform: uppercase;
        color:#1e376f;

        &::after{
            content:"";
            position: absolute;
            display: block;
            width: 6vw;
            height: 3px;
            margin-top: 18px;
            margin-left: 46%;
            background-color: #cd2122;        
        }
    }
    .row{
        margin-top: 4vw;
        .fastest-rummy-left{
            h4{
                color:#424949;
                padding-bottom:20px;
                font-size: 23px;
                word-spacing: 5px;

                &::after{
                    content:"";
                    position: absolute;
                    display: block;
                    width: 4vw;
                    height: 2px;
                    margin-top: 7px;
                    background-color: #cd2122;
                }
            }
            p{
                padding-bottom: 30px;
            }
            a{
                padding: 9px 15px;
                background-color: #cd2122;
                color: white;
                text-decoration: none;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 600;
                border-radius: 4px;
            }
        }
        .fastest-rummy-right{
            img{
                width: 100%;
                height: 230px;
                padding: 0px 10px;
            }
            .rc-rcbrand-ul {
                position:relative;
                width:99999px;
                list-style-type:none;   
                overflow: hidden;
            }
            
            .rc-rcbrand-inner {
                position: relative;
                overflow: hidden;
                width:100%;
            }
            .rc-rcbrand-item {
                float:left;
                position:relative;
            }
            .rc-rcbrand-nav-left, .rc-rcbrand-nav-right {
                padding:5px 10px;
                position: absolute;
                cursor: pointer;
                z-index: 4;
                top: 92%;
                transform: translateY(-50%);   
                background: rgb(255, 102, 0, 0.3);
                color: #fff;     
            }
            .rc-rcbrand-nav-left:before {
                content: "<"
            }            
            .rc-rcbrand-nav-right {
                right: 94%;    
            }
            .rc-rcbrand-nav-right:before {
                content: ">"
            }
        }
    }
}


.rummy-game{
    position: relative;
    padding: 100px 0px;
    .rummy-game-left{
        height: auto;
        img{
            position: relative;
            width: 117%;
            height: auto;
            left: -30%;
            filter: drop-shadow(0px 0px 3px black);
        }
    }
    .rummy-game-right{
        .head-block{
            h1{
                font-size: 37px;
                font-weight: 600;
                &::before{
                    content: "";
                    position: absolute;
                    width: 5%;
                    height: 2px;
                    background-color: #e8eef7;
                    margin-top: -17px;
                }
            }
            p{
                padding-top: 20px;
                font-size: 20px;
                font-weight: 100;
                line-height: 32px;
            }
        }
        .responsible-image{
            display: inline-block;
            width: 20%;
            margin-top: 70px;
        }
        .responsible-block{
            width: 80%;
            margin-top: 70px;
            box-shadow: 0px 0px 10px 0px rgb(207, 207, 207);
            padding: 20px 30px;
            float: right;

            &:hover{
                box-shadow: 0px 0px 18px 0px rgb(150, 149, 149);
            }
            p{
                font-size: 15px !important;
                line-height: 28px;
            }
            span{
                content:"";
                position: absolute;
                width: 22px; 
                height: 22px;
                top:63%;
                left: 61%;
                background: white; 
                transform: rotate(45deg);
            }
        }
    }
}


.customer-support{
    background-color: rgba(0,0,0, 0.01);
    padding: 50px 0px;
    .customer-support-box{
        background-color: white;
        border: 1px solid rgba(0,0,0, 0.03);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.13);

        .customer-support-left{
            padding: 30px 30px 13px;
            h4{
                color: #cd2122;
                line-height: 36px;
                font-weight: 100;	
                padding-bottom: 20px;
                word-spacing: 4px;
            }
            ul{
                padding: 0px;
                li{
                    list-style: none;
                    background: url("../images/icons8-checked-48.png") no-repeat;
                    background-size: 7%;
                    padding-left: 3vw;
                    margin: 15px 0px;
                    h5{
                        color:rgb(87, 85, 85);
                        font-size: 16px;
                        word-spacing: 3px;
                    }
                    p{
                        color:rgb(150, 149, 149);
                    }
                }
            }
            a{
                position: relative;
                background-color: #cd2122;
                color: white;
                text-decoration: none;
                padding: 11px 35px;
                border-radius: 4px;
                font-size: 13px;
                font-weight: 500;
                left: 10%;
                top: 6%;
            }
        }
        .customer-support-right{
            img{
                height:350px;
            }
        }
    }
}

/* Reviews */
.testimonial{
    background-color: #071b31;
    color: white;
    padding-bottom: 4vw;
    z-index: 10000;
    h1{
        text-align: center;
        padding-top: 5vw;
        font-size: 30px;
        font-weight: 700;
		text-transform: uppercase;
    }
    .row{
        border-bottom: 2px solid rgba(255,255,255,0.13);
		padding-bottom: 3rem!important;
    }
    hr{
        width:9%;
        position: relative;
        left:46%;
        height: 3px;
    }
    .review-block{
        margin-top: 40px;
        background: rgba(41, 153, 217, 0.13);
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: linear 0.2s;
        border-radius: 40px 0px;
        p{
            padding: 25px;
            font-weight: 100;
            text-align: left;
        }
        span{
            content: "";
            position: absolute;
            background-color: rgba(7, 27, 49, 0.49);
            width: 15vw;
            height: 15vw;
            top:-5vw;
            right:-5vw;
            z-index: -1000;
            border-radius: 50%;
            border: 1px solid rgba(255,255,255,0.09);
        }
    }
    .review-block:hover{
        box-shadow: 0px 0px 5px 1px lightblue;
    }
    .review-by{
        text-align: center;
        z-index: 1;
        text-transform: uppercase;
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 5px solid #5c75e6;
        }
        h5{
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 3px;
        }
        p{
            font-size: 12px;
            font-weight: 100;
            margin-bottom: 3px;
        }
    }
    
}

/* Security */
.payment{
    .payment-options{
        padding: 78px 0px 70px;
        text-align: center;
        hr{
            width:8%;
            position: relative;
            left:47%;
            height: 3px;
            color: black;
        }
        h3{
            font-size: 35px;
            color:rgba(0,0,0, 0.7);
            font-weight: 600;
        }
        img{
            width: 210px;
            height: auto;
            margin-right: 40px;
            margin-top: 37px;
        }
    }
    .rc-rcbrand-ul {
        position:relative;
        width:99999px;
        list-style-type:none;   
        text-align:center;  
        overflow: auto;
        padding-left: 1rem !important;
    }
    
    .rc-rcbrand-inner {
        position: relative;
        overflow: hidden;
        width:100%;
    }
    .rc-rcbrand-item {
        float:left;
        position:relative;
        line-height:0px;
    }
}


/* Footer */
.footer{
    background: linear-gradient(to right, rgba(0,0,0,0.92), rgba(0,0,0,0.88), rgba(0,0,0,0.9), #000000);
    padding: 20px 0px 10px;
    color: white;
    font-size: 13px;
    font-weight: 200;
    .footer-top{
        img{
            display: inline-block;
        }
        h1{
            display: inline-block;
            top:20px;
            position: relative;
            font-weight: 600;
            left: 20px;
            font-size: 32px;
        }
        h1::before{
            display: block;
            content:"India's Most";
            font-size: 18px;
            position: relative;
            font-weight: 300;
        }
        .follow {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-weight: 500;
            a{
                color: white;
            }
            a:hover{
                color: black;
            }
            i{
                font-size: 18px;
                margin-right: 2vw;
            }
        }
    }
    h3{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 26px;
    }
    .footer-block{
        padding:40px;
        margin-bottom: 20px;
    }
    .footer-first-block{
        .footer-list{ 
            ul{
                padding: 0;
                margin:0;
                li{
                    list-style: none;
                    padding-bottom: 8px;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
        .download-btns{
            p{
                font-weight: 500;
            }
            img{
                margin-bottom: 15px;
            }
        }
    }
    .footer-last-block{
        h5{
            margin-top: 30px;
            font-weight: 600;
        }
    }
    .security-partner{
        text-align: center;
        padding-bottom: 20px;
        p{
            font-size: 17px;
            font-weight: 500;
        }
        img{
            width: 130px;
            height: auto;
            margin-right: 20px;
        }
    }
    .copyright{
        text-align: center;
        p{
            font-size: 13px;
        }
    }
}


@media only screen and (max-width: 575.98px){
    h1{ font-size: 22px !important;}
    h3{ font-size: 18px !important;}
    h4{ font-size: 17px !important;}
    h5{ font-size: 15px !important;}
    p{ font-size: 14px !important;}
    .banner{ height:83vw;
        img{ height: 83vw}
    }
    .header{ background: linear-gradient(rgba(0,0,0,0.36), rgba(0,0,0,0.25), rgba(0,0,0,0.16));
        .header-top{ padding:0px 0px 5px;
            .social-icons{ width: 30%;
                i{ font-size: 11px; margin: 0vw 1.5vw;}
            }
            .header-top-content{ width: 70%;
                a{ font-size: 11px; text-transform: capitalize;}
            }
        }
        .navbar{
            .navbar-toggler{ padding: .42rem .75rem; font-size: 0.8rem;}
            img{ width: 45px; height: 45px;}
            .navbar-nav{ background-color: rgba(0,0,0, 0.7); width: 100%;
                .active{ background-color: #cd2122 !important;}
                .nav-item{ text-align: center; transition: all ease-in-out 0.7s;
                    &:hover{ background-color: #cd2122;}
                    .nav-link{ font-size: 11px;
                        &:before{display: none}
                    }
                }
            }
        }
    }
    .about-section{
        .about-blocks{ padding-top: 2vw; border-bottom: 1px solid rgba(0,0,0, 0.4)}
        .row{ padding: 4vw 7vw 2vw;}
        .about-blocks-image, .about-blocks-head{ width:100% !important; text-align: left !important;}
        img{ width:50px !important; height: 50px !important; margin-bottom: 3vw;}
        h1{ padding-bottom: 0px; text-align: center;}
        h3{ font-size: 300; text-align: center;}
        h4{ line-height: 15px !important; font-weight: 500 !important;}
        li{ background-size: 6% !important; padding-left: 8vw !important; font-size: 14px !important; line-height: 23px !important; font-weight: 400;}
    }
    .fastest-rummy{ padding-bottom: 30px;
        h1{ padding: 40px 0px 30px;
            &:after{ width: 30%; margin-top: 10px; margin-left: 32%;}
        }
        .fastest-rummy-right{ 
            img{ height: auto; padding: 0px;}
            .rc-rcbrand-nav-left, .rc-rcbrand-nav-right { display: none;}
        }
    }
    .rummy-game{ padding: 30px 0px;
        .rummy-game-left{
            img{ width: 100% !important; left: 0px !important; margin-bottom: 30px;}
        }
        .rummy-game-right{
            .head-block{
                h1{
                    &::before{ width: 13%; margin-top: -10px;}
                }
                p{ line-height: 22px; padding-top: 10px;}
                img{ width: 100%; margin:0px}
            }
            .responsible-image{ display: none;}
            .responsible-block{ width: 100%; margin-top: 25px;
                span{ display: none;}
            }
        }
    }


    .customer-support{
        .customer-support-left{ padding-bottom: 50px !important;
            h4{ line-height: 24px !important;}
            ul{
                li{ padding-left: 9vw !important;}
            }
        }
        .customer-support-right{
            #carouselFade{ padding: 10px;}
            img{ height: auto !important;}
        }
    }

    .testimonial{
        .testimonial-block:nth-child(1), .testimonial-block:nth-child(2){ padding-top: 20px; padding-bottom: 20px;}
        .review-by{ top:-6vw;
            h4{ margin-bottom: 1px;}
            p{ margin-bottom: 0px;}
        }     
        .review-block{ margin-top: 0px;}
        img{ width:70px !important; height:70px !important; padding: 5px !important; }    
        #circle-span{
            width: 30vw !important;
            height: 30vw !important;
        }
        h5{ padding-top: 10px;}
    }
    .payment{
        .payment-options{
            padding: 30px 0px !important;
            h3{ font-size: 25px;}
            hr{ width:23%; left: 40%}
            img{ width: 120px; margin-top: 14px;}
        }
    }
    .footer{ font-size: 10px;
        .footer-top{
            img{ width: 50px !important; height: 50px !important;}
            h1{ left:10px; top:12px}
            h1::before{ font-size: 13px;}
            .follow{ justify-content: center; margin-top:10px;
            i{ font-size: 10px;}
        }
        }
        h3{ font-size: 15px; margin-bottom: 10px;}
        .footer-block{ padding: 20px 20px 0px !important;}
        .footer-first-block{
            .download-btns{
                img{ width: 100px; height:30px}
            }
        }
        .footer-second-block{
        }
        .footer-last-block{
            h5{ font-size: 13px; margin-top: 18px;}
        }
        .copyright{ text-align: left;
            p{ margin-bottom: 0px;}
        }
        .follow{ text-align:left;
            i{ font-size: 13px;}
        }
    }   
}
@media only screen  and (min-width : 1224px){
    .fastest-rummy{
        .fastest-rummy-right{
            .rc-rcbrand-item{ width: 298px !important;}
        }
    }
}